*.js
!jest.config.js
*.d.ts
coverage
docs
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Developer-specific IDE files
*.sublime-project
*.sublime-workspace
